#tempstyle {
  font-size: 20px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 50%;
  float: right;
  z-index: 8;
}
#latlng {
  width: 225px;
}
#therm {
  float: left;
  width:40%;
}
